* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(../img/immagine7.jpg);
    background-size: cover;
    
}

/* typography */

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, .4);
}

h2 {
    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
    text-shadow: 2px 2px rgba(0, 0, 0, .4);
}

/* fine typography */

header {
    width: 90%;
    margin: auto;
    background-image: url(../img/immagine2.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px;
    border: 10px solid #fff;
    /* border-radius: 8px; */
}

/* css del menu */

.container-menu {
    background-color: #504741;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    /* border-radius: 8px;  */
}

.container-menu .menu li {
    list-style-type: none;
    margin-right: 25px;
    display: inline-block; 
}

.container-menu .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    display: block;
    padding: 20px;
}

.container-menu .menu li:hover {
    background-color: #2c2724;
}

/* regole css main
-------------------------------- */

h3 {
    color: #504741;
    margin-bottom: 10px;
}

main {
    width: 90%;
    margin: auto;
}

/* regole generali per le 3 colonne */
main .col {
    background-color: #fff;
    width: 20%;
    padding: 20px;
    color: #504741;
    float: left;
    border-radius: 8px;
}

/* colonna sinistra, l'unica con id */

main #sinistra {
    width: 20%;
    color: #504741;
    float: left;
}

main #sinistra .content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

main #sinistra .content ul {
    list-style-type: none;
    text-transform: capitalize;
}

main #sinistra .content li {
    margin-bottom: 10px;
}

main #sinistra .content li:hover {
    text-decoration: underline;
}

main #sinistra .content a {
    color: #99cc33;
    text-decoration: none;
}

main #sinistra .content {
    margin-bottom: 30px;
}

/* colonna centrale main */

main .col.center {
    width: 50%;
    margin: 0 5%;
}

main .col.center h2 {
    color: #504741;
    text-shadow: 1px 1px rgba(0, 0, 0, .4);
    font-size: 32px;
    font-weight: 800;
}

main .col img {
    width: 100%;
    margin: auto;
    display: block;
}

.post-author {
    color: #999999;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.post-author a {
    text-decoration: none;
    color: #99cc33;
}

.post-author span {
    color: #99cc33;
}

.news {
    padding: 20px;
}

main .col.center .tags {
    background-color: #e7e8e9;
    padding: 10px;
}

main .col.center .tags a {
    text-decoration: none;
    color: #99cc33;
}

/* colonna a destra con due fratelli */

main .col.right {
    width: 20%;
    margin-bottom: 30px;
}

main .col.right a {
    color: #99cc33;
    text-decoration: none;
    font-size: 10px;
}

main .col.right a:hover {
    font-size: 16px;
    color: orange;
}

/* tasto GO */

main .right .search a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2PX;
    background-color: #504741;
    margin-left: 10px;
}

main .right .search a:hover {
    color: white;
    background-color: orange;
}

/* tasto search */

#s {
    background: rgba(0, 0, 0, 0.04);
    color: #999999;
    width: 60%;
    font-size: 12px;
    line-height: 1.4;
    margin: 0px;
    padding: 10px;
    border: 3px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

/* clearfix */

main::after {
    content: '';
    display: table;
    clear: both;
}

/* stile hr */

.hr {
    margin: 60px;
    border: 1px solid rgba(0, 0, 0, .1);
}

 /* footer  */

footer .container-footer {
    width: 90%;
    margin: auto;
    background-color: #fff;
}

footer .column-footer {
    width: 25%;
    float: left;
    padding: 30px;
    font-size: 16px;
}

footer .column-footer h6 {
    font-size: 18px;
    font-weight: 400;
    color: #504741;
    margin-bottom: 20px;
}

footer .column-footer li {
    list-style-type: none;
    padding: 5px;
}

footer .column-footer a {
    text-decoration: none;
    color: #666;
}

footer .column-footer a:hover {
    color: #99cc33;
}


/* cleafix footer */
footer .container-footer::after {
    content: '';
    display: table;
    clear: both;
}













